In [1]:
import sys
from sqlalchemy import text
import json
from sqlalchemy import create_engine

In [2]:
host="melachallengedatabase.crlafpfc5g5y.us-east-1.rds.amazonaws.com"
db="changdb"
port="5432"
user="changuser"
passw = "changpass"

In [24]:
# engine = create_engine(f'postgresql://{user}@{host}/{db}')
engine = create_engine(f'postgresql+psycopg2://{user}:{passw}@{host}:{port}/{db}')

### Queries

### Show tables

```SQL
SELECT *
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
```

### Create table

```SQL
CREATE TABLE t1(
   id INT GENERATED ALWAYS AS IDENTITY,
   c2 VARCHAR(255) NOT NULL,
   PRIMARY KEY(id)
);
```
### Reference Table

```SQL
CREATE TABLE t2(
   id INT GENERATED ALWAYS AS IDENTITY,
   t1_id INT,
   c3 VARCHAR(255) NOT NULL,
   c4 VARCHAR(15),
   PRIMARY KEY(id),
   CONSTRAINT fk_t1
      FOREIGN KEY(t1_id) 
	  REFERENCES t1(id)
);
```

### select values

```SQL
SELECT select_list
FROM table_name
WHERE condition
ORDER BY sort_expression
```

### insert values

```SQL
INSERT INTO table_name(column1, column2, …)
VALUES (value1, value2, …);
```

In [26]:
query= """
CREATE TABLE IF NOT EXISTS scene (
  id SERIAL PRIMARY KEY NOT NULL,
  from_date timestamp,
  to_date timestamp,
  indicator_id int
);

"""

with engine.connect() as conn:
  try:
    a = conn.execute(query)
    print(a.fetchall())
  except Exception as e:
    print (e)

This result object does not return rows. It has been closed automatically.

In [27]:
query ='''CREATE TABLE IF NOT EXISTS "indicator" (
  "id" SERIAL PRIMARY KEY NOT NULL,
  "indicator name" varchar NOT NULL,
  "param_from" float,
  "param_to" float
);'''

with engine.connect() as conn:
  try:
    a = conn.execute(query)
    print(a.fetchone())
  except Exception as e:
    print (e)

(psycopg2.OperationalError) server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: CREATE TABLE IF NOT EXISTS "indicator" (
  "id" SERIAL PRIMARY KEY NOT NULL,
  "indicator name" varchar NOT NULL,
  "param_from" float,
  "param_to" float
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [28]:
query ='''

CREATE TABLE  IF NOT EXISTS "users" (
  "id" SERIAL PRIMARY KEY NOT NULL,
  "full_name" varchar NOT NULL,
  "email" varchar NOT NULL,
  "password" varchar NOT NULL,
  "created_at" timestamp NOT NULL
);

'''

with engine.connect() as conn:
  try:
    a = conn.execute(query)
    print(a.fetchone())
  except Exception as e:
    print (e)

This result object does not return rows. It has been closed automatically.

`alter tables`

```SQL
ALTER TABLE "backtest_metrics" ADD FOREIGN KEY ("scene_id") REFERENCES "scene" ("id");

ALTER TABLE "indicator" ADD FOREIGN KEY ("id") REFERENCES "scene" ("id");

ALTER TABLE "indicator_param" ADD FOREIGN KEY ("id") REFERENCES "indicator" ("id");```

In [29]:
query ='''

ALTER TABLE "backtest_metrics" ADD FOREIGN KEY ("scene_id") REFERENCES "scene" ("id");

'''

with engine.connect() as conn:
  try:
    a = conn.execute(query)
    print(a.fetchone())
  except Exception as e:
    print (e)

This result object does not return rows. It has been closed automatically.

In [30]:

query ='''

ALTER TABLE "indicator" ADD FOREIGN KEY ("id") REFERENCES "scene" ("id");

'''

with engine.connect() as conn:
  try:
    a = conn.execute(query)
    print(a.fetchone())
  except Exception as e:
    print (e)

(psycopg2.errors.UndefinedTable) relation "indicator" does not exist

[SQL:

ALTER TABLE "indicator" ADD FOREIGN KEY ("id") REFERENCES "scene" ("id");

]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [31]:
query ='''
ALTER TABLE "indicator_param" ADD FOREIGN KEY ("id") REFERENCES "indicator" ("id");
'''
with engine.connect() as conn:
  try:
    a = conn.execute(query)
    print(a.fetchone())
  except Exception as e:
    print (e)

(psycopg2.errors.UndefinedTable) relation "indicator_param" does not exist

[SQL:
ALTER TABLE "indicator_param" ADD FOREIGN KEY ("id") REFERENCES "indicator" ("id");
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [33]:

query="""
CREATE TABLE IF NOT EXISTS "indicator" (
  "id" SERIAL PRIMARY KEY NOT NULL,
  "indicator name" varchar NOT NULL,
  "param_from" float,
  "param_to" float

);"""
with engine.connect() as conn:
  try:
    a = conn.execute(query)
    print(a.fetchone())
  except Exception as e:
    print (e)

This result object does not return rows. It has been closed automatically.

In [34]:
query = """
        SELECT *
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
"""
with engine.connect() as conn:
                
        # query = text("Show table")
        a=conn.execute(query)
        print(a.fetchall())

[('changdb', 'public', 'backtest_metrics', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None), ('changdb', 'public', 'indicator', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None), ('changdb', 'public', 'scene', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None), ('changdb', 'public', 't1', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None), ('changdb', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]